<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzvhbD13_DvyRdgGeLEZPckZMgtaduIbI</string>
	<key>GCM_SENDER_ID</key>
	<string>933061962046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelJournel</string>
	<key>PROJECT_ID</key>
	<string>travel-journal-app-360ac</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-journal-app-360ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933061962046:ios:12b4995e900c33fb25a46f</string>
</dict>
</plist>